<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .footer {
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <h1>Lista de usuarios</h1>
    </div>
    <div class="card">
        <div class="card-header">
            Usuarios
        </div>

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{'/editar/'+ ${user.id}}">Editar</a>
                        <a class="btn btn-danger" th:href="@{'/eliminar/' + ${user.id}}"
                           onclick="return confirm('Seguro deseas eliminar este registro?')">Eliminar</a>
                    </td>
                </tr>
            </table>
            <a class="btn btn-dark" href="/nuevo">Agregar usuario</a>
        </div>
        <a href="https://docs.docker.com/">Documentación oficial de Docker</a>
    </div>
</div>

<div class="footer">
    <h4>Integrantes del equipo:</h4>
    <p>ALEJANDRA MICHELLE MEJIA RIVAS MR22035</p>
    <p>IVAN EDUARDO LOPEZ TOBAR LT22009</p>
    <p>ERICK GIOVANNI MONROY LOPEZ ML22048</p>
</div>

</body>
</html>
